
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
#name-decioration{
    color: orange;
}
.writing-dec{
    color: dimgray;
}
.first-part{
background-image: url(images/header-bg.png);
background-repeat: no-repeat;
}
section{
    height: 800px;
}
.hello-part{
    float: left;
    width: 35%;
    margin: 5%;
    padding: 2%;
}
.rearrangement{
    width: 100%;
}
.link-decoration{
    text-decoration: none;
    padding: 10px 10px;
    color: rgb(243, 239, 0);
    background-image: linear-gradient( rgb(31, 136, 168) , rgb(100, 100, 85));
    font-weight:bold;
}
.second-part{
    background-image: url(images/biography-bg.png);
    background-repeat: 0;
}
    .third-part{
          height: 500%;
    }
.flot-third{
    float: left;
    width: 25%;
    margin: 2%;
    padding: 2%;
}
#middle{
    text-align: center;
}
.hello-four{
    text-align: center;
}
.hello-five{
    text-align: center;
    background-color: blueviolet;
    height: 100px;
    width: 700px;
    padding: 2%;
    margin-left: 20%;
    border-radius: 2%;
}
footer{
    text-align: center;
     size: 10px;
     color: dimgray;
}